.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon-section {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .input-box {
    margin-top: 10px;
    width: 95%;
  }
  .button-area {
    margin-top: 20px;
    width: 95%;
  }

  .two-input-inrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .input-box {
      width: 46%;
    }
    .date-picker-size {
      height: 3.5rem;
    }
    .date-picker-height {
      height: 100%;
    }
  }
}
